In [1]:
import pandas as pd

In [3]:
csv_file = "/home/cse/Desktop/spreadsheet data.csv"
df = pd.read_csv(csv_file)

In [4]:
df

  Name  Age
0  abc   19
1  def   20
2  ghi   18

In [7]:
p_f_a=0.03
p_f=0.2
res=(p_f_a/p_f)*100
print(int(res),"%")

15 %

In [8]:
import sqlite3

In [9]:
conn=sqlite3.connect('student.db')

In [10]:
cursor = conn.cursor()

In [11]:
cursor.execute("select * from Student")
rows=cursor.fetchall()
for row in rows:
    print(row)

(23, 'Indu', 19)
(57, 'Manaswini', 20)
(55, 'Manvitha', 19)

In [12]:
conn=sqlite3.connect('lakshmi.db')

In [13]:
cur=conn.cursor()

In [14]:
cur.execute("CREATE TABLE stock(data text,trans text,symbol text,qty real,price real)")

In [15]:
cur.execute("INSERT INTO stock VALUES('2006-01-05','BUY','RHAT',100,35.14)")

In [16]:
purchases=[('2006-03-28','BUY','IBM',1000,45.00),
          ('2006-04-05','BUY','MSFT',1000,72.00),
          ('2006-04-06','SELL','IBM',500,53.00)]

In [17]:
cur.executemany('INSERT INTO stock VALUES(?,?,?,?,?)',purchases)

In [18]:
for row in cur.execute('SELECT * FROM stock ORDER BY price'):
    print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [20]:
cur.execute("UPDATE stock set trans='BUY' WHERE price=72.00")

In [21]:
for row in cur.execute('SELECT * FROM stock'):
    print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)